<h2>ASSIGNMENT NO.1: BASIC PYTHON 
<h2>Question Set A

<h3> 1) Write a Python Program to Calculate the Average of Numbers in a Given List.

In [14]:
num= [10, 20, 30, 40, 50]

total = sum(num)
avg = total / len(num)

print(avg)

30.0

<h3>2) Write a program which accepts 6 integer values and prints "DUPLICATES" if any of the
values entered are duplicates otherwise it prints "ALL UNIQUE".

In [16]:
nums = []

for i in range(6):
    n = int(input("Enter number: "))
    nums.append(n)

if len(nums) != len(set(nums)):
    print("DUPLICATES")
else:
    print("ALL UNIQUE")

Enter number:  12
Enter number:  12
Enter number:  23
Enter number:  34
Enter number:  25
Enter number:  11

DUPLICATES

<h3>3) Write a program which accepts an integer value as input and print "Ok" if value is between
1 to 50 (both inclusive) otherwise it prints "Out of range"

In [17]:
num = int(input("Enter a number: "))

if 1 <= num <= 50:
    print("Ok")
else:
    print("Out of range")

Enter a number:  34

Ok

<h3>4) Write a program which finds sum of digits of a number.

In [19]:
num = int(input("Enter number: "))
sum_digits = 0

while num > 0:
    sum_digits += num % 10
    num //= 10

print(sum_digits)

Enter number:  23

5

<h3>5) Write a program which prints Fibonacci series of a number

In [20]:
n = int(input("Enter how many terms: "))

a, b = 0, 1
print("Fibonacci series:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter how many terms:  12

Fibonacci series:
0 1 1 2 3 5 8 13 21 34 55 89

<h2>Question Set B

<h3>1)Write a program which accept an integer value 'n' and display all prime numbers till 'n'

In [21]:
n = int(input("Enter n: "))

print("Prime numbers are:")
for num in range(2, n + 1):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

Enter n:  56

Prime numbers are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53

<h3>2) Write a program that accept two integer values and if both are equal then prints "SAME
identity" otherwise prints "DIFFERENT identity".

In [22]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a == b:
    print("SAME identity")
else:
    print("DIFFERENT identity")

Enter first number:  54
Enter second number:  67

DIFFERENT identity

<h3>3) Write a program to display following pattern:
1 2 3 4
1 2 3
1 2
1

In [24]:
for i in range(4, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

<h3>4) Write a program to reverse a given number

In [27]:
num = int(input("Enter number: "))
rev = 0

while num > 0:
    rev = rev * 10 + num % 10
    num //= 10

print("Reversed number:", rev)

Enter number:  89

Reversed number: 98

<h2>Question Set C

<h3>1) Write a Sequential search function which searches an item in a sorted list. The function
should return the index of element to be searched in the list.

In [31]:
def sequential_search(arr, key):
    for i in range(len(arr)):
        if arr[i] == key:
            return i
    return -1

# Sorted list
numbers = [10, 20, 30, 40, 50, 60]

key = int(input("Enter element to search: "))

result = sequential_search(numbers, key)

if result != -1:
    print("Element found at index:", result)
else:
    print("Element not found")

Enter element to search:  50

Element found at index: 4

<h2>ASSIGNMENT NO.2: PYTHON STRINGS
<h2>Question Set A

<h3>1) Write a program to count the number of vowels in a given string.

In [33]:
s = input("Enter string: ")
count = 0

for ch in s:
    if ch in "aeiouAEIOU":
        count += 1

print("Vowel count:", count)

Enter string:  aryan

Vowel count: 2

<h3>2) Write a program to check if a string is a palindrome (reads the same forwards and
backwards).

In [34]:
s = input("Enter string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter string:  madam

Palindrome

<h3>3)Write a program to reverse a string without using built-in reverse functions.

In [1]:
s = input("Enter string: ")
rev = ""

for ch in s:
    rev = ch + rev

print("Reversed string:", rev)

Enter string:  aryan

Reversed string: nayra

<h3>4) Write a program to count the frequency of each character in a string.

In [1]:
s = input("Enter string: ")

for ch in s:
    print(ch, ":", s.count(ch))

Enter string:  karan

k : 1
a : 2
r : 1
a : 2
n : 1

<h3>5) Write a program to remove all whitespace from a string.

In [3]:
s = input("Enter string: ")

result = ""
for ch in s:
    if ch != " ":
        result += ch

print("String without spaces:", result)

Enter string:  aryan karan

String without spaces: aryankaran

<h3>Question Set B

<h3>1) Write a program to find the first non-repeating character in a string

In [1]:
s = input("Enter string: ")

for ch in s:
    if s.count(ch) == 1:
        print("First non-repeating character:", ch)
        break

Enter string:  tanmay

First non-repeating character: t

<h3>2) Write a program to check if two strings are anagrams (contain same characters in different
order).

In [4]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

if sorted(s1) == sorted(s2):
    print("Anagram")
else:
    print("Not Anagram")

Enter first string:  aryan
Enter second string:  nayra

Anagram

<h3>3) Write a program to convert a string to title case without using the title() method.

In [7]:
s = input("Enter string: ")
words = s.split()

result = ""
for w in words:
    result += w[0].upper() + w[1:] + " "

print(result)

Enter string:  aryan

Aryan

<h3>4) Write a program to replace all occurrences of a substring with another substring in a given
string.

In [9]:
s = input("Enter string: ")
old = input("Enter old word: ")
new = input("Enter new word: ")

print(s.replace(old, new))

Enter string:  aryan
Enter old word:  tanmay
Enter new word:  sandesh

aryan

<h2>Question Set C

<h3>1) Write a program to find the longest word in a sentence.

In [10]:
s = input("Enter sentence: ")

words = s.split()
print("Longest word:", max(words, key=len))

Enter sentence:  aryan is very smart

Longest word: aryan

<h3>2) Write a program to check if a string contains only digits, only alphabets, or both.

In [11]:
s = input("Enter string: ")

if s.isdigit():
    print("Only digits")
elif s.isalpha():
    print("Only alphabets")
else:
    print("Both digits and alphabets")

Enter string:  aryan

Only alphabets

<h2>ASSIGNMENT NO.3: PYTHON TUPLE

<h2>Question Set A

<h3>1) Write a program to find the maximum and minimum element in a tuple without using
max() and min() functions.

In [13]:
t = (10, 20, 5, 40, 15)

maxi = t[0]
mini = t[0]

for x in t:
    if x > maxi:
        maxi = x
    if x < mini:
        mini = x

print("Maximum:", maxi)
print("Minimum:", mini)

Maximum: 40
Minimum: 5

<h3>2) Write a program to count the occurrence of each element in a tuple.

In [14]:
t = (1, 2, 3, 2, 1, 3, 2)

for x in t:
    print(x, ":", t.count(x))

1 : 2
2 : 3
3 : 2
2 : 3
1 : 2
3 : 2
2 : 3

<h3>3) Write a program to convert a tuple of strings into a single string.

In [18]:
t = ("Hello", "World", "Python")

result = ""
for x in t:
    result += x

print("Single string:", result)

Single string: HelloWorldPython

<h3>4) Write a program to find the sum of all even numbers in a tuple.

In [19]:
t = (1, 2, 3, 4, 5, 6)
total = 0

for x in t:
    if x % 2 == 0:
        total += x

print("Sum of even numbers:", total)

Sum of even numbers: 12

<h3>5) Write a program to remove duplicates from a tuple (return a new tuple with unique
elements)

In [20]:
t = (1, 2, 3, 2, 1, 4)

new_tuple = tuple(set(t))
print("Tuple without duplicates:", new_tuple)

Tuple without duplicates: (1, 2, 3, 4)

<h3>Question Set B

<h3>1) Write a program to find the second largest element in a tuple.

In [21]:
t = (10, 20, 30, 40)

s = sorted(t)
print("Second largest:", s[-2])

Second largest: 30

<h3>2) Write a program to sort a tuple of tuples based on the second element.

In [23]:
t = ((1, 5), (3, 2), (2, 8))

result = sorted(t, key=lambda x: x[1])
print("Sorted tuple:", result)

Sorted tuple: [(3, 2), (1, 5), (2, 8)]

<h3>3) Write a program to check if all elements in a tuple are unique.

In [24]:
t = (1, 2, 3, 4)

if len(t) == len(set(t)):
    print("All elements are unique")
else:
    print("Duplicates found")

All elements are unique

<h3>4) Write a program to swap the first and last element of a tuple.

In [25]:
t = (10, 20, 30, 40)

t = (t[-1],) + t[1:-1] + (t[0],)
print("After swap:", t)

After swap: (40, 20, 30, 10)

<h2>Question Set C

<h3>1) Write a program to find common elements between two tuples.

In [27]:
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)

common = tuple(set(t1) & set(t2))
print("Common elements:", common)

Common elements: (3, 4)

<h3>2) Write a program to create a tuple of squares of numbers from 1 to n.

In [29]:
n = int(input("Enter n: "))

result = ()
for i in range(1, n + 1):
    result = result + (i * i,)

print("Tuple of squares:", result)

Enter n:  56

Tuple of squares: (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136)

<h2>ASSIGNMENT NO.4: PYTHON SET

<h3>Question Set A

<h3>1) Write a program to find the union, intersection, and difference of two sets entered by the
user.

In [30]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5}
{3}
{1, 2}

<h3>2) Write a program to check if a set is a subset of another set

In [31]:
a = {1, 2}
b = {1, 2, 3}

print(a.issubset(b))

True

<h3>3) Write a program to remove duplicates from a list using sets

In [32]:
lst = [1, 1, 2, 2, 3]
print(list(set(lst)))

[1, 2, 3]

<h3>4) Write a program to find elements that are present in the first set but not in the second set.

In [33]:
a = {1, 2, 3}
b = {2, 3}

print(a - b)

{1}

<h3>5) Write a program to check if two sets are disjoint (have no common elements)

In [34]:
a = {1, 2}
b = {3, 4}

print(a.isdisjoint(b))

True

<h2>Question Set B

<h3>1) Write a program to find symmetric difference between two sets.

In [35]:
a = {1, 2, 3}
b = {3, 4}

print(a.symmetric_difference(b))

{1, 2, 4}

<h3>2) Write a program to add multiple elements to a set at once from user input

In [36]:
s = {1}
s.update([2, 3, 4])
print(s)

{1, 2, 3, 4}

<h3>3) Write a program to find the length of a set and check if a specific element exists in it.

In [38]:
s = {10, 20, 30}

print(len(s))
print(20 in s)

3
True

<h3>Question Set C

<h3>1) Write a program that takes two sentences as input and finds:
● Common words in both sentences
● Words unique to the first sentence
● Words unique to the second sentence

In [40]:
s1 = input("Enter first sentence: ")
s2 = input("Enter second sentence: ")

set1 = set(s1.split())
set2 = set(s2.split())

print("Common words:", set1 & set2)
print("Only in first sentence:", set1 - set2)
print("Only in second sentence:", set2 - set1)

Enter first sentence:  i am very smart
Enter second sentence:  sandesh is cute

Common words: set()
Only in first sentence: {'smart', 'am', 'very', 'i'}
Only in second sentence: {'sandesh', 'cute', 'is'}

<h3>2) Write a program to perform all set operations (union, intersection, difference, symmetric
difference) on three sets.

In [41]:
a = {1, 2}
b = {2, 3}
c = {3, 4}

print("Union:", a | b | c)
print("Intersection:", a & b & c)
print("Difference (a-b):", a - b)
print("Symmetric difference:", a ^ b)

Union: {1, 2, 3, 4}
Intersection: set()
Difference (a-b): {1}
Symmetric difference: {1, 3}

<h3>ASSIGNMENT NO.5: PYTHON DICTIONARY

<h3>Question Set A

<h3>1) Write a program to create a dictionary with roll number as key and name as value for 5
students. Display all key-value pairs.

In [42]:
d = {1:"A", 2:"B", 3:"C", 4:"D", 5:"E"}
print(d)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

<h3>2) Write a program to count the frequency of each word in a given sentence using a
dictionary.

In [43]:
s = input("Enter sentence: ")
d = {}

for w in s.split():
    d[w] = d.get(w, 0) + 1

print(d)

Enter sentence:  sandesh is very cute

{'sandesh': 1, 'is': 1, 'very': 1, 'cute': 1}

<h3>3) Write a program to merge two dictionaries entered by the user.

In [44]:
d1 = {1:"A", 2:"B"}
d2 = {3:"C"}

d1.update(d2)
print(d1)

{1: 'A', 2: 'B', 3: 'C'}

<h3>4) Write a program to find the key with the maximum value in a dictionary.

In [45]:
marks = {"Math":80, "Sci":90, "Eng":70}
print(max(marks, key=marks.get))

Sci

<h3>5) Write a program to check if a given key exists in a dictionary.

In [46]:
d = {"a":1, "b":2}
print("a" in d)

True

<h3>Question Set B

<h3>1) Write a program to remove a key from a dictionary and handle the case when key doesn't
exist.

In [47]:
d = {"a":1, "b":2}
print(d.pop("a", "Not Found"))
print(d)

1
{'b': 2}

<h3>2) Write a program to sort a dictionary by its values in descending order.

In [48]:
d = {"a":2, "b":5, "c":1}
print(dict(sorted(d.items(), key=lambda x:x[1], reverse=True)))

{'b': 5, 'a': 2, 'c': 1}

<h3>3) Write a program to create a dictionary from two lists - one containing keys and another
containing values.

In [49]:
keys = ["a","b","c"]
values = [1,2,3]

print(dict(zip(keys, values)))

{'a': 1, 'b': 2, 'c': 3}

<h3>Question Set C

<h3>1) Write a program to find all keys with the same value in a dictionary.

In [55]:
d = {"a": 1, "b": 2, "c": 1, "d": 3}

value = int(input("Enter value: "))

for k in d:
    if d[k] == value:
        print(k)

Enter value:  3

d

<h3>2) Write a program to create a dictionary where keys are numbers from 1 to n and values are
their cubes.

In [56]:
n = int(input("Enter n: "))
d = {}

for i in range(1, n + 1):
    d[i] = i ** 3

print(d)

Enter n:  45

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000, 21: 9261, 22: 10648, 23: 12167, 24: 13824, 25: 15625, 26: 17576, 27: 19683, 28: 21952, 29: 24389, 30: 27000, 31: 29791, 32: 32768, 33: 35937, 34: 39304, 35: 42875, 36: 46656, 37: 50653, 38: 54872, 39: 59319, 40: 64000, 41: 68921, 42: 74088, 43: 79507, 44: 85184, 45: 91125}

<h2>ASSIGNMENT NO.6: FUNCTIONS IN PYTHON

<h3>Question Set A

<h3>1) Write a function to find the maximum of three numbers.

In [57]:
def maximum(a, b, c):
    return max(a, b, c)

print(maximum(10, 20, 30))

30

<h3>2) Write a function to check if a number is prime or not.

In [58]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

print(is_prime(7))

True

<h3>3) Write a function to calculate the factorial of a number (both iterative and recursive).

In [59]:
# Iterative
def fact(n):
    f = 1
    for i in range(1, n + 1):
        f *= i
    return f

print(fact(5))

# Recursive
def fact_rec(n):
    if n == 1:
        return 1
    return n * fact_rec(n - 1)

print(fact_rec(5))

120
120

<h3>4) Write a function that accepts a list and returns a new list with unique elements.

In [60]:
def unique_list(lst):
    return list(set(lst))

print(unique_list([1, 2, 2, 3, 3]))

[1, 2, 3]

<h3>5) Write a function to calculate the sum of all even numbers in a list

In [61]:
def sum_even(lst):
    total = 0
    for x in lst:
        if x % 2 == 0:
            total += x
    return total

print(sum_even([1, 2, 3, 4, 5, 6]))

12

<h3>Question Set B

<h3>1) Write a function to convert temperature from Celsius to Fahrenheit and vice versa

In [62]:
def c_to_f(c):
    return (c * 9/5) + 32

def f_to_c(f):
    return (f - 32) * 5/9

print(c_to_f(0))
print(f_to_c(32))

32.0
0.0

<h3>2) Write a function that accepts a string and returns the count of vowels and consonants.

In [63]:
def count_vc(s):
    v = 0
    c = 0
    for ch in s.lower():
        if ch in "aeiou":
            v += 1
        elif ch.isalpha():
            c += 1
    return v, c

print(count_vc("python"))

(1, 5)

<h3>3) Write a function that accepts variable number of arguments and returns their average

In [64]:
def avg(*nums):
    return sum(nums) / len(nums)

print(avg(10, 20, 30))

20.0

<h3>4) Write a lambda function to find the maximum of three numbers.

In [65]:
max3 = lambda a, b, c: max(a, b, c)

print(max3(5, 10, 3))

10

<h3>Question Set C

<h3>1) Write a recursive function to calculate the sum of digits of a number.

In [66]:
def sum_digits(n):
    if n == 0:
        return 0
    return (n % 10) + sum_digits(n // 10)

print(sum_digits(123))

6

<h3>2) Write a function that accepts a list of numbers and returns a dictionary with count of even
and odd numbers.

In [67]:
def even_odd_count(lst):
    d = {"even": 0, "odd": 0}

    for x in lst:
        if x % 2 == 0:
            d["even"] += 1
        else:
            d["odd"] += 1

    return d

print(even_odd_count([1, 2, 3, 4, 5]))

{'even': 2, 'odd': 3}

<h3>ASSIGNMENT NO.7: OBJECT ORIENTED
PROGRAMMING IN PYTHON

<h3>Question Set A

<h3>1) Create a class called Rectangle with attributes length and width. Add methods to
calculate area and perimeter.

In [68]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)

r = Rectangle(10, 5)
print("Area:", r.area())
print("Perimeter:", r.perimeter())

Area: 50
Perimeter: 30

<h3>2) Create a class BankAccount with methods to deposit, withdraw, and display balance.

In [69]:
class BankAccount:
    def __init__(self, acc_no, balance):
        self.acc_no = acc_no
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print("Balance after deposit:", self.balance)

    def withdraw(self, amount):
        self.balance -= amount
        print("Balance after withdraw:", self.balance)

b = BankAccount(101, 1000)
b.deposit(500)
b.withdraw(300)

Balance after deposit: 1500
Balance after withdraw: 1200

<h3>3) Create a parent class Vehicle and child classes Car and Bike that inherit from it. Override
a method in child classes.

In [70]:
class Vehicle:
    def move(self):
        print("Vehicle is moving")

class Car(Vehicle):
    def move(self):
        print("Car is moving")

class Bike(Vehicle):
    def move(self):
        print("Bike is moving")

c = Car()
b = Bike()

c.move()
b.move()

Car is moving
Bike is moving

<h3>4) Create a class Student with private attributes and public methods to access them.

In [71]:
class Student:
    def __init__(self, name, marks):
        self.__name = name
        self.__marks = marks

    def get_name(self):
        return self.__name

    def get_marks(self):
        return self.__marks

s = Student("Amit", 85)
print("Name:", s.get_name())
print("Marks:", s.get_marks())

Name: Amit
Marks: 85

<h3>5) Create a class Circle with method to calculate area. Overload the + operator to add two
circles (add their radii).

In [73]:
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

    def __add__(self, other):
        return Circle(self.radius + other.radius)

c1 = Circle(3)
c2 = Circle(4)

c3 = c1 + c2

print("Area of Circle 1:", c1.area())
print("Area of Circle 2:", c2.area())
print("Radius after adding circles:", c3.radius)

Area of Circle 1: 28.259999999999998
Area of Circle 2: 50.24
Radius after adding circles: 7

<h3>Question Set B

<h3>1) Create a class hierarchy: Animal -> Mammal -> Dog. Demonstrate multilevel inheritance.

In [74]:
class Animal:
    def sound(self):
        print("Animal sound")

class Mammal(Animal):
    def type(self):
        print("Mammal")

class Dog(Mammal):
    def sound(self):
        print("Dog barks")

d = Dog()
d.type()
d.sound()

Mammal
Dog barks

<h3>2) Create a class Employee with class method to keep count of total employees.

In [75]:
class Employee:
    count = 0

    def __init__(self):
        Employee.count += 1

    @classmethod
    def total_employees(cls):
        print("Total Employees:", cls.count)

e1 = Employee()
e2 = Employee()

Employee.total_employees()

Total Employees: 2

<h3>3) Create a class Book with special methods __str__, __len__, and __eq__.

In [76]:
class Book:
    def __init__(self, title, pages):
        self.title = title
        self.pages = pages

    def __str__(self):
        return self.title

    def __len__(self):
        return self.pages

    def __eq__(self, other):
        return self.pages == other.pages

b1 = Book("Python", 200)
b2 = Book("Java", 200)

print(b1)
print(len(b1))
print(b1 == b2)

Python
200
True

<h3>4) Create a class Temperature with property decorators for Celsius and Fahrenheit
conversion.

In [77]:
class Temperature:
    def __init__(self, celsius):
        self._celsius = celsius

    @property
    def celsius(self):
        return self._celsius

    @property
    def fahrenheit(self):
        return (self._celsius * 9/5) + 32

t = Temperature(0)
print("Celsius:", t.celsius)
print("Fahrenheit:", t.fahrenheit)

Celsius: 0
Fahrenheit: 32.0

<h3>Question Set C

<h3>1) Create an abstract class Shape with abstract method area(). Create subclasses Rectangle,
Circle, and Triangle that implement the area method.

In [78]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, l, w):
        self.l = l
        self.w = w

    def area(self):
        return self.l * self.w

class Circle(Shape):
    def __init__(self, r):
        self.r = r

    def area(self):
        return 3.14 * self.r * self.r

class Triangle(Shape):
    def __init__(self, b, h):
        self.b = b
        self.h = h

    def area(self):
        return 0.5 * self.b * self.h

r = Rectangle(10, 5)
c = Circle(3)
t = Triangle(4, 6)

print("Rectangle Area:", r.area())
print("Circle Area:", c.area())
print("Triangle Area:", t.area())

Rectangle Area: 50
Circle Area: 28.259999999999998
Triangle Area: 12.0

<h3>2) Create a class Library that manages a collection of books. Implement methods to add
books, remove books, search books, and display all books.

In [79]:
class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)

    def remove_book(self, book):
        if book in self.books:
            self.books.remove(book)

    def search_book(self, book):
        if book in self.books:
            print("Book found")
        else:
            print("Book not found")

    def display_books(self):
        print("Books in library:")
        for b in self.books:
            print(b)

lib = Library()
lib.add_book("Python")
lib.add_book("Java")

lib.display_books()
lib.search_book("Python")
lib.remove_book("Java")
lib.display_books()

Books in library:
Python
Java
Book found
Books in library:
Python